.center {
  display: flex;

  align-items: center;
  flex-direction: column;
  border: none;
}
.employee {
  border: 2px solid black;
  width:20%;
  display: flex;
  justify-content: center;
}

.employee:hover {
  background-color: #F5F5DC;
}

.employee.selected {
  background-color: orange;
}

.employee.neighbor {
  background-color: green;
}


